.body {
    padding: 2.5rem 1rem;
    width: 100%;
    background-color: #e6e6e6;
}

.login__form {
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.form__header p {
    font-size: 1.8rem;
    font-weight: bold;
}

.form {
    width: 100%;
}

.error {
    color: red;
}

.form__item input {
    border: 2px solid #a9a9a9;
    background-color: #e6e6e6;

}

.form__item input,
button {
    padding: 0.9rem 1rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.form__item button {
    border: none;
    background-color: #0000ff;
    color: #fff;
}

.register__link {
    margin-bottom: 1.6rem;
}

.register__link p {
    margin-bottom: 0.3rem;
}

.register__link a {
    text-decoration: none;
    color: #0000ff;
}